<footer class="bg-light text-center p-4 mt-auto border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h5 class="text-primary fw-bold">Jornades Gastronòmiques</h5>
        <p class="small text-muted">Quart de Poblet, València</p>
      </div>
      <div class="col-12 social-icons">
        <i class="fa-brands fa-instagram mx-2 text-primary fa-lg"></i>
        <i class="fa-brands fa-twitter mx-2 text-primary fa-lg"></i>
        <i class="fa-brands fa-facebook mx-2 text-primary fa-lg"></i>
      </div>
    </div>
    <p class="mt-3 mb-0 small">&copy; 2025 Ajuntament de Quart de Poblet</p>
  </div>
</footer>
