<header class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-primary fw-bold" href="/src/index.html">
      <i class="fa-solid fa-utensils me-2"></i> SABORS DE QUART
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/src/index.html">Inici</a></li>
        <li class="nav-item"><a class="nav-link" href="/src/pages/speakers.html">Ponents</a></li>
        <li class="nav-item"><a class="nav-link" href="/src/pages/article.html">Notícies</a></li>
        <li class="nav-item"><a class="nav-link" href="/src/pages/contact.html">Contacte</a></li>
      </ul>
    </div>
  </div>
</header>
