$color-primary: #e65100;
$color-secondary: #fdfdfe;
$color-accent: #ffd180;
$color-text: #212529;
$font-main: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$primary: $color-primary;
$font-family-sans-serif: $font-main;
$border-radius: 0;
$btn-padding-y: .75rem;
$btn-padding-x: 1.5rem;

$enable-container-queries: true;

// COMPONENTS BOOTSTRAP
// 1. Alert
$alert-bg-scale: -90%;
$alert-border-scale: -20%;

// 2. Accordion:
$accordion-button-active-bg: tint-color($primary, 90%);
$accordion-button-active-color: shade-color($primary, 10%);
$accordion-icon-active-color: $primary;

$accordion-button-focus-box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
