@import "variables";

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "base/reset";
@import "components/header";
@import 'components/footer';

@import "pages/home";
@import "pages/speakers";
@import "pages/article";
@import "pages/contact";
